<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        #ex
        {
            background-image: url("https://static.toiimg.com/photo/104400974.cms");
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        #ex>p
        {
            color:white;
        }
        #ex>h1
        {
            text-decoration: none;
            color:black;
        }
        #ex>h1:hover
        {
            text-decoration: underline;
            color:crimson;
        }
        button
        {
            background-color:skyblue;
            text-align: center;
            color:rgba(255, 255, 255, 0.918);
            width: 100px;
            height: 40px;
            border-radius: 20px;
            border-color: skyblue;
            
        }
        button>a
        {
            text-decoration:none;
            color:darkblue
        }
        button>a:hover
        {
            text-decoration: underline;
            color:crimson;
            
        }
    </style>
</head>
<body>
    <center>
        <div id="ex">
        <h1>Andaman Nicobar Island</h1>
        <p>The Andaman and Nicobar Islands is a union territory of India. It consists of 836 islands (of which only 31 are inhabited) grouped into two island groups: the northern Andaman Islands and the southern Nicobar Islands, separated by a 150 km (93 mi) wide channel. Port Blair is the capital and largest city of the territory, located about 1,190 km (740 mi) from Chennai and 1,255 km (780 mi) from Kolkata in mainland India. The islands are sandwiched between the Bay of Bengal to the west and the Andaman Sea to the east with the northern-most point located 901 km (560 mi) from the mouth of Hooghly river. Indira Point at 6°45’10″N and 93°49’36″E at the southern tip of Great Nicobar is the southernmost point of India.

            The territory shares maritime borders with Indonesia located about 165 km (103 mi) to the south, Myanmar located 280 km (170 mi) to the north-east and Thailand located 650 km (400 mi) to the south-east. The islands occupy a total land area of approximately 8,249 km2 (3,185 sq mi) with a population of 380,581 as per the 2011 census. The territory is divided into three districts: Nicobar, South Andaman, and North and Middle Andaman with the capitals at Car Nicobar, Port Blair and Mayabunder respectively.
            
            Genetic and cultural studies suggest that the indigenous Andamanese people may have been isolated from other populations during the Middle Paleolithic era, more than 30,000 years ago. Archeological evidence of civilization has been dated back to 2,200 years. In the 11th century CE, Cholas, one of the three Tamil kingdoms, used the islands as a naval base to launch expeditions in South East Asia. The Danish were the first Europeans to arrive on the islands in 1755. The islands became part of the British Raj in 1868. During the Second World War, the islands were invaded by the Japanese Empire. After Indian Independence in 1947, the region became a province and later a union territory after the adoption of the Constitution of India in 1950.
            
            The islands host the Andaman and Nicobar Command, the only geographical command operated jointly by the three major wings of the Indian Armed Forces: the Army, the Air Force and the Navy. While Hindi and English are the official languages, the major spoken languages include Bengali, Tamil and Telugu. Indigenous people speak any of the Andamanese or Nicobarese family of languages. Hinduism is the majority religion in the union territory, with a significant Christian minority. The islands are also home to the Sentinelese people, an uncontacted tribe.
            
            Etymology
            The name Andaman might have been derived from Handuman, after the Indian God Hanuman from the Hindu epic Ramayana.[3] The place was called with a similar name by the Malay, who used to be involved in slave trade in the region.[4] The place was also referred by various names such as Angademan by Ptolemy in the 2nd century CE and Angamanian by Marco Polo in 13th century CE.[3] Nicobar, which was located in the sea route connecting South India to South East Asia, was known as Nakkavaram, meaning "open/naked land" borrowed from Tamil language which later became Nicobar.[5] In the middle ages (500-1500 AD), Nicobar was known as Lankhabatus in Arabia, probably a mis-transcription of the name Nakkavaram. An 11th-century CE work Kathasaritsagar indicates the name as Narikel Dweep.[5] Marco Polo termed the island as Necuverann, while the islands were known as Lo-Jan Kuo in China, a translation of Nakkavar with the same meaning.[5]
            
            History
            Main article: History of the Andaman and Nicobar Islands
            Early history
            Genetic and cultural studies suggest that the indigenous Andamanese people may have been isolated from other populations during the Middle Paleolithic era, which ended 30,000 years ago.[6] Archeological evidence obtained from middens have been dated the earliest civilisations back to 200-300 BCE.[7] The islands have been mentioned by Ptolemy in the 2nd century CE.[4][5]
            
            Middle ages
            
            The Cholas used the islands as a naval base in 11th century CE to launch attacks in South East Asia
            The Nicobar islands existed on a major trade route connecting India to the South East Asia and had much contact with the outside world for centuries. But there are very few accounts of information as there was no written language with the indigenous people to document their history.[8] The islands have been mentioned in the accounts of travellers like Faxian in the 6th century CE and I-T’sing in 7th century CE.[5]
            
            In the 11th century CE, Rajendra Chola I of the Chola dynasty of Tamilakam invaded parts of South East Asia using the Nicobar islands as an intermediate naval base.[9][10] It was part of an established Chola trade route connecting India and South East Asia, with the practice continuing in the subsequent years during the reigns of Rajendra II and Kulothunga I.[11][12] Chola inscriptions from Thanjavur, dated to 1050 CE, describe the islands as Ma-Nakkavaram meaning "great open/naked land" in Tamil.[13][14] The islands are later mentioned by Marco Polo in the 13th century CE and Friar Oderic in early 14th century CE.[5][15]
            
            European colonisation
            The European colonisation on the islands began when settlers from the Danish East India Company arrived on the Nicobar Islands on 12 December 1755.[16] On 1 January 1756, the Nicobar Islands were made into a Danish colony, first named Nye Danmark (New Denmark) and later Frederiksøerne (Frederick's Islands).[17] The islands were managed from the Dutch colony of Tranqebar in the Indian mainland. However, various attempts to settle on the islands were unsuccessful due to repeated outbreaks of malaria, which led to the death of the colonists.[8]
            
            
            Andamanese fishing (c. 1870)
            Between 1778 and 1783, William Bolts tried to establish an Austrian colony on the Nicobar islands, mistakenly assuming that the Danish had abandoned the claims to the islands, renaming them Theresa Islands.[18] In 1789, the British colonised the Andaman islands to set up a naval base and establish a penal colony.[19] In 1794, a first batch of 100 prisoners were sent to the island but the settlement was abandoned in 1796.[19]
            
            In 1858, the British established a colony near Port Blair.[20] Between 1864 and 1868, Italy tried to buy the island from the Danish. On 16 October 1868, the Danish sold the rights to the Nicobar islands to the British, which was made part of the British India in 1869.[8] In 1872, the Andaman and Nicobar Islands were united under a single command and administered by a chief commissioner based out of Port Blair. The construction of the Cellular Jail started in 1896 and was completed in 1906. The jail was used to house political prisoners and independence activists away from the Indian mainland.
        </p>
    </div>
    <button><a href="{% url 'place2' %}">Amazon_forest</a></button>
    </center>
</body>
</html>